<p>Hola <%= @resource.name %>!</p>

<p>Alguien ha pedido un enlace para cambiar su contraseña. Usted puede hacer esto a través del siguiente enlace:.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no ha solicitado esto, por favor, ignora este mensaje.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>

<p>Saludos.</p>
<p>Upsocl Analytics</p>
